body{
    background-image: linear-gradient(rgba(116,116,116,255), rgba(23,23,23,255), rgba(23,23,23,255));
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background-color: black;
}

nav ul li{
    text-align: right;
    display: inline-block;
    font-weight: bold;
}

nav li a{
    display: block;
    color: rgb(178,178,170);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    color: rgba(30,215,96,255); 
}

#onpage{
    color: rgba(30,215,96,255); 
}

.navborder{
    border-style: solid;
    color: rgb(178,178,170);
}

#pfp{
    position: relative;
    object-fit: cover;
    padding: 0px 50px;
    top: 40px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile p{
    position: relative;
    padding: 20px 281px;
    bottom: 160px;
    color: rgba(255,255,255,255);
    font-weight: bold;
}

.profile a{
    position: relative;
    bottom: 190px;
    padding-left: 0px;
    left: 278px;
    color: rgba(255,255,255,255);
    text-decoration: none;
    font-size: 70px;
    font-weight: 700;
}

.profile a:hover{
    color: rgba(30,215,96,255); 
}

.profile ul{
    list-style-type: none;
}

.profile ul li{
    display: inline-block;
    color: rgba(255,255,255,255);
    position: relative;
    bottom: 150px;
    left: 240px;
    top: -169px;
}

#bullet{
    font-size: 12px;
}

#bullet2{
    font-size: 12px;
}

.profilewrap{
    padding-top: 10px
}

.pubplay{
    position: relative;
    bottom: 100px;
    padding: 0px 55px;
    color: rgba(255,255,255,255);
    font-size: 25px;
    font-weight: bold;
    bottom: 100px;
}

.playlist{
    position: static;
    width: 93%;
    padding: 0px 50px;
    display: flex;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    margin-top: -90px;
    margin-left: 5px;
}

.playlist iframe{
    min-width: 300px;
    height: 400px;
    line-height: 110px;
    text-align: center;
    margin-right: 30px;
    border: none;
}

.playlist::-webkit-scrollbar{
    width: 0;
}

#playspace{
    padding-right: 20px;
}

#playspace2{
    padding-right: 20px;
}

#playspace3{
    padding-right: 20px;
}

#playspace4{
    padding-right: 20px;
}

.artists{
    color: rgba(255,255,255,255);
}

.artists h1{
    position: relative;
    padding: 25px 55px;
    font-size: 25px;
}

.artistsprofile img{
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    top: -15px;
}

.artistsprofile{
    position: relative;
    display: flex;
    margin-left: 55px;
}

#space{
    padding-right: 60px;
}

#space2{
    padding-right: 60px;
}

.artistsprofile img:hover{
    transform: scale(1.1);
}

.artistsprofile p{
    margin-left: 2px;
    font-weight: bold;
    margin-top: -1px;
}

.artistsprofile p:nth-child(odd){
    color: rgba(167,167,167,255);
    font-weight: 500;
}

.toptracks{
    color: rgba(255,255,255,255);
}

.toptracks h1{
    position: relative;
    padding: 0px 55px;
    font-size: 25px;
}

.toptracks img{
    position: relative;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 3%;
}

.toptracks a{
    text-decoration: none;
    color: rgba(255,255,255,255);
}

.toptracks a:hover{
    color: rgba(30,215,96,255);
}

.toptracks p{
    font-weight: bold;
}

.toptracks p:nth-child(odd){
    color: rgba(167,167,167,255);
    font-weight: 500;
}

.tracks{
    position: relative;
    display: flex;
    margin-left: 38px;
    padding: 0px 20px;
    padding-top: 15px;
}

#space3{
    padding-right: 65px;
}

#space4{
    padding-right: 65px;
}

#space5{
    padding-right: 65px;
}

.topalbum{
    color: rgba(255,255,255,255);
}

.topalbum h1{
    position: relative;
    padding: 0px 55px;
    font-size: 25px;
}

.topalbum iframe{
    padding-top: 10px;
    position: relative;
    width: 1000px;
    height: 500px;
    object-fit: cover;
    border-radius: 3%;
    margin-left: 55px;
    border: none;
}

.concert{
    color: rgba(255,255,255,255);
}

.concert h1{
    position: relative;
    padding: 0px 55px;
    font-size: 25px;
}

.concert p{
    padding-top: 5px;
    margin-left: 55px;
}

.concert a{
    text-decoration: none;
    color: rgba(30,215,96,255); 
}


.concert iframe{
    position: relative;
    height: 562px;
    width: 1000px;
    padding: 10px 55px;
    border: none;
}

.fullwrap{
    color: rgba(255,255,255,255);
}

.hobbieswrap h1{
    position: relative;
    padding: 25px 55px;
    font-size: 25px;
    margin-bottom: -20px;
    font-weight: bold;
}


.hobbylist p{
    display: inline-block;
    text-align: left;
    position: relative;
    font-weight: bold;
    padding: 0px 30px;
    padding-left: 57px;
    top: -5px;
}

.hobbylist p:hover{
    color: rgba(30,215,96,255); 
    transform: scale(1.5);
}

.border{
    border-style: solid;
    margin-right: 55px;
    margin-left: 55px;
    color: rgb(178,178,170);
}

.sportswrap{
    padding: 5px 55px;
}

.sportswrap h1{
    position: relative;
    font-size: 25px;
    margin-bottom: 0px;
    font-weight: bold;
}

.sportswrap p{
    display: inline-block;
    position: relative;
    font-weight: bold;
}

.sportswrap a{
    text-decoration: none;
    color: rgba(30,215,96,255);
}

.profevents{
    padding: 5px 55px;
}

.profevents img{
    position: relative;
    display: inline-block;
    border-radius: 3%;
    width: 365px;
    height: 500px;
}

.profevents h2{
    margin-left: 50px;
}

.events{
    padding-top: 73px;
}

.events h2{
    position: relative;
    padding-left: 89px;
    top: -80px;
    font-size: 25px;
}

.events ul{
    display: flex;
    padding-left: 70px;
    list-style: none;
    margin-top: -110px;
    position: relative;
    flex-direction: row;
    
}

.events ul li{
    margin-top: 20px;
    margin-right: 10px;
    font-weight: bold;
}

.events ul li:nth-child(odd):hover{
    transform: scale(1.2);
}

.profevents iframe{
    display: flex;
    position: relative;
    top: -592px;
    left: 500px;
    width: 840px;
    height: 500px;
    border: none;
}

#racedetails{
    position: relative;
    display: flex;
    font-weight: bold;
    padding-left: 750px;
}

#racedetails2{
    position: relative;
    display: flex;
    font-weight: bold;
    padding-left: 785px;
}

.detailswrap{
    padding-top: 15px
}

.racewrap{
    margin-top: -600px;
}

#gameheader{
    position: relative;
    font-size: 25px;
    font-weight: bold;
    padding-left: 57px;
}

.rankswrap{
    padding-left: 55px;
    text-align: center;
}

.ranks img{
    position: relative;
    display: flex;
    width: 200px;
    height: auto;
    top: -15px;
}

.ranks img:hover{
    transform: scale(1.2)
}

.ranks{
    position: relative;
    display: inline-block;
    margin-left: 55px;
    margin-right: 170px;
}

.ranks p{
    margin-left: -50px;
    font-weight: bold;
    margin-top: -1px;
}

#val{
    margin-bottom: -20px;
    margin-left: -40px;
}

#rocket{
    margin-left: -50px;
    top: -30px;
}

#lol{
    height: 195px;
    width: auto;
    margin-bottom: -10px;
    margin-left: -55px;
}

.lolwrap{
    padding-left: 25px;
}

.mangawrap{
    padding: 5px 55px;
    font-weight: bold;
    padding-bottom: 50px;
}

.mangacoverwrap{
    text-align: center;
}

.mangacover{
    display: inline-block;
}

.mangacover img{
    position: relative;
    width: 250px;
    height: 392.66px;
    padding: 10px 20px;
}

.mangacover img:hover{
    transform: scale(1.1);
}

.indexwrap{
    color: rgba(255,255,255,255);
    font-weight: bold;
}

.contact p{
    padding: 0px 55px;
}

.contact a{
    text-decoration: none;
    color: rgba(30,215,96,255); 
}

.indexwrap h1{
    position: relative;
    padding: 0px 55px;
}

.indexwrap h2{
    position: relative;
    font-size: 25px;
    padding: 0px 55px;
}

.resume h1{
    color: rgba(255,255,255,255);
    padding: 0px 55px;
    font-weight: bold;
}

.unorderlist ul li:nth-child(even){
    color: rgb(178,178,170);
    font-weight: 500;
    list-style-type: circle;
    list-style-position: inside;
    padding-left: 10px;
}

.skills{
    padding: 0px 35px;
}

.unorderlist{
    padding: 0px 35px;
}

.unorderlist p{
    color: rgb(178,178,170);
    font-weight: 500;

}

.indexwrap ul li{
    margin-bottom: 10px;
}